.home{
    background: rgb(202, 201, 201);
    height: 100%;
    padding: 10px;
}
.heading{
    border-bottom: 2px solid black;
    text-align: center;
}
.customButton{
    background:rgba(197,224,155,255);
    border: 0;
    padding: 5px;
    width: 75px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
}
.customButton:hover{
    background: rgba(124,186,1,255);
}